<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" alt="brand logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                    {% for item in site.nav %}
                    <li>
                        <li class="nav-item">  
                            <a class="nav-link {% if page.url == item.link %} active {% endif %}" href="{{item.link}}">{{item.text}}</a>
                        </li>
                    </li>
                {% endfor %}
            </ul>

            
            </div>

        </div>
    </nav>


</header>