---
layout: default
---


<section id="productCarousel" class="productCarousel carousel slide" data-ride="carousel">
    
  <ol class="carousel-indicators">
      {% for slide in page.product_slider %}
        <li data-target="#productCarousel" data-slide-to="{{ forloop.index | minus: 1 }}"  class="{% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner">
      {% for slide in page.product_slider %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="/img/{{slide.image}}" >
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}
    </div>
  </section>


<section class="container product__single pb-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-5">{{page.title | markdownify}}</h2>
            <p>{{content}}</p>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
          <div class="extra_info">
            <span class="extra_info__title">Project Year:</span>
            <span class="extra_info__content">{{page.project_year}}</span>
          </div>
          <div class="extra_info">
              <span class="extra_info__title">Project Type:</span>
              <span class="extra_info__content">
                  {% for tag in page.project_type %}{%if forloop.index0  == 0  %}{% else %}, {% endif %}{{ tag }}{% endfor %}
              </span>
            </div>
            <div class="extra_info">
                <span class="extra_info__title">Tagged With:</span>
                <span class="extra_info__content">
                    {% for tag in page.tagged_with %}{%if forloop.index0  == 0  %}{% else %},  {% endif %}<a href="{{tag.link}}">{{ tag.name }}</a>{% endfor %}
                </span>
              </div>
        </div>
    </div>

  </section>
